* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
:root { 
    --primary-color: #024e76;
    --secondary-color: #b1b3b1;
    --tertiary-color: #d6d9ab;
    --p-text: #1f4791;
    --p-font-size: 15px;
    --titlefont-size: 30px;

}
header {
    padding: 20px 15px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    z-index: 9999;
}
header h1 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       
}
header nav {
    margin: 0 7px;
}
header nav ul {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header h1 a {
    text-decoration: none;
    color: var(--primary-color);
    border-top: var(--secondary-color);
    
}
header nav li a {
    padding: 15px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--secondary-color);
}
/* style start about me */
.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column; 
    border-bottom: 1px solid var(--secondary-color);
}
.hero-img {
    /* background-image: url(../imgs/Imports\ -\ 1\ of\ 6.jpeg); */
    background-size: cover;
    align-self: start;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    
}

article section p {
    
    border: 1px solid var(--secondary-color);
    padding: 5px 5px 5px 5px;
    color: var(--primary-color);
        
}
article {
padding-top: 5px;
/* max-width: 100%; */
}
.section-title {
    font-size: var(--font-size);
    color: var(--p-text);
    font-size: 25px;
  margin: 0 auto 35px auto;
  padding-bottom: 2px;
  width: 50%;
  text-align: center; 
}
.projects {
    display: flex;
} 
.projects h2 {
    display: block;
}
.project-card {
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-around;  
    max-width: 60%;
    height: auto;
    border: 3px solid #024e76;
    padding: 20px;
    margin: 1.5%;    
}
.project-card div img {
    width: 70%;
}
footer {
    padding: 10px 10px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
}
footer h4 {
    font-size: var(--font-size);
    color: var(--p-text);
    border: 10px black;
    padding-left: 15px;
}
footer address {
padding-left: 25px;
}